<!DOCTYPE html>
<html lang="es">
  <link rel="stylesheet" href="../public/css/productos.css">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos - Hermanos Jota</title>
</head>
<body>
  <!-- Header -->
  <div id="header"></div>

  <main>
    <div id="productos-container" class="productos-grid">
    </div>
  </main>

  <!-- Footer -->
  <div id="footer"></div>

  <script src="../public/js/HeaderFooterScript.js"></script>
  <script src="../public/js/ProductosLista.js"></script>
  <script src="../public/js/MostrarTodosProductos.js"></script>
</body>
</html>

